<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="wrap">
                <div class="header">
                        <h1>HEADER</h1>
                </div>
                    <div class="nav">
                        NAVBAR
                </div>
                <div class="main">
                    <div class="content">
                        <h2>Content<h2>
                    </div>
              
                    <div class="sidebar">
                        <h2>Bagian Kiri</h2>
                    </div>
                    <div class="sidebar">
                        <h2>Bagian Kanan</h2>
                    </div>
              
                    <div class="clear"></div>
              
                </div>
              
                <div class="footer">
                    <center><p>Copyright &copy; Rendi Fadilah, 2019</p></center>
                </div>
</body>
</html>